/* important reset */
body{
margin:0;
padding:0;
}

/* footer full width */
.footer{
width:100%;
background:#2f4054;
color:white;
padding:25px 0;
}

/* inner container */
.footer-container{
width:90%;
margin:auto;
display:flex;
justify-content:space-between;
align-items:center;
flex-wrap:wrap;
gap:20px;
}

/* logo */
.footer-logo h2{
margin:0;
font-size:22px;
}

/* links */
.footer-links{
display:flex;
gap:20px;
}

.footer-links a{
color:white;
text-decoration:none;
font-size:16px;
}

/* social icons */
.footer-social{
display:flex;
gap:15px;
font-size:18px;
}

/* copyright */
.copyright{
text-align:center;
margin-top:15px;
font-size:14px;
opacity:0.8;
}

/* ================= */
/* RESPONSIVE */
/* ================= */

/* Tablet */
@media (max-width: 1024px){

.footer-container{
flex-direction:column;
text-align:center;
}

.footer-links{
justify-content:center;
}

.footer-social{
justify-content:center;
}

}

/* Mobile */
@media (max-width:768px){

.footer-logo h2{
font-size:20px;
}

.footer-links{
flex-direction:column;
gap:10px;
}

.footer-links a{
font-size:15px;
}

.footer-social{
margin-top:10px;
}

}

/* Small Mobile */
@media (max-width:480px){

.footer{
padding:20px 0;
}

.footer-logo h2{
font-size:18px;
}

.footer-links a{
font-size:14px;
}

.copyright{
font-size:12px;
}

}